.landing-page-container {
  text-align: center;
  //margin-top: 2%;
  font-family: 'Times New Roman', Times, serif;
  height: calc(100vh - 76px);
  width: 100%;
  background: url('../../../assets/jpg/165799.jpg') repeat-x;
  background-size: cover;
  color: white;

}
