<div class="home-dashboard-container">
  <button class="books-handout-section" (click)="onClickOfBooksHandOut()"><img
      src="../../../../assets/jpg/handout.jpg" /><span>Books Hand-Out</span></button>
  <button class="books-sell-section" (click)="onClickOfBooksSell()"><img src="../../../../assets/jpg/sellbooks.jpeg" /><span>Books
      Sell</span></button>
  <button class="books-rent-section" (click)="onClickOfBooksRent()"><img src="../../../../assets/jpg/rentbooks.png" /><span>Books Rent</span>
  </button>
</div>