.app-container {
  width: 100vw;
  height: 100vh;
  background: url("../assets/imagefinal.jpg") repeat-x;
  background-size: 100%;
  background-position-y: bottom;

  .heading {
    text-align: center;
    margin-bottom: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: lemonchiffon;
  }

  .button-container {
    float: right;
    margin: 10px;
    .margin-right{
        margin-right: 20px;
    }
  }



  .login {
    margin-top: 30px;
    width: 500px;
    margin: 0 auto;
  }
}
